body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  padding-left: 15px;
  padding-right: 15px;
}

.main {
  margin-top: 50px;
  min-height: 100vh;
}

form .form-group {
  margin-bottom: 12px;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: rgba(0, 0, 0, .03);
  text-align: center;
}

.sideBarPlaylist, .sideBarChatbox {
  height: calc(100vh - 100px);
  background:rgba(218, 218, 218, 0.911);
}

.sideBarChatbox, .sideBarPlaylist > p {
  text-align: center;
  font-weight: bold;
}

.video-wrapper {
  height: 600px;
}

